{% extends 'base.html' %}

{% block jumbotron %}
	<div class="jumbotron">
      <div class="container">
        <h1>C est Exquis</h1>
        <p>C est Exquis es una micro empresa creada por el emprendedor Daniel Villalobos, estudiante de pasteleria del Culinary Trainer School, estamos dedicados a ofrecerle un servicio de pasteleria profesional y a tu gusto</p>
        <p><a class="btn btn-warning btn-lg" role="button" href='https://www.facebook.com/CestExquisiteLartDesGateaux?fref=ts'>Mas de C est Exquis &raquo;</a></p>
      </div>
    </div>

{% endblock %}

{% block content %}

<div class='col-sm-12' style='text-align: center;'>
<h1>C est Exquis Pasteleria Profesional  </h1>
</div>
{% endblock %}